.appBodyMain {
  background-color: #484747;
  min-height: 100vh;
  text-align: center;
  color: white;
}
.centerX{
  display: flex;
  justify-content: center;
  text-align: center;
}
.centerY{
  display: flex;
  align-items: center;
}
